* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

#header {
  width: 100%;
  height: 10rem;
  background-color: teal;
  color: rgb(179, 177, 177);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;
  font-size: 2rem;
}

@media only screen and (max-width: 900px) {
  #header {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 400px) {
  #header {
    font-size: 0.9rem;
  }
}
