/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	/* HEADER
	================================================== */
	.site-logo {
		padding-left: 15px;
	}

	.site-logo img {
		height: 50px;
	}

	/* HERO
	================================================== */

	.hero img {
		height: 500px;
	}

	/* SITEMAIN
	================================================== */
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	/* CUSTOM RESETS
	================================================== */
	/* HEADER
	================================================== */
	.site-logo {
		padding-left: 15px;
	}

	.site-logo img {
		height: 45px;
	}

	/* Navigation */
	.navbar-nav > li > a {
		font-size: 14px;
	}

	.navbar-nav > li + li > a {
	    margin-left: 20px;
	}

	/* HERO
	================================================== */

	.hero h1 {
		font-size: 38px
	}

	.job-title {
		font-size: 20px;
	}

	.hero img {
		height: 420px;
	}

	/* SITEMAIN
	================================================== */
	.site-section {
		padding-top: 10px;
	}

	.section-skills,
	.section-form {
	    padding-bottom: 90px;
	}

	.site-section h2,
	.site-section h3 {
		font-size: 32px
	}

	/* Section: Skills */
	.section-skills .col-md-4 + .col-md-4,
	.skill + .skill {
		margin-top: 20px;
	}

	.skill h4 {
		font-size: 22px;
	}

	/* Section: Services */
	.section-services{
		padding-top: 200px;
	}

	.section-services .container {
		padding: 70px 90px;
	}
	
	.service h4 {
		font-size: 22px; 
	}

	/* Section: blog */
	.section-blog .col-md-4:nth-last-child(-n+3) .blog-item {
	    margin-bottom: 30px;
	}

	.section-blog .col-md-4:nth-last-child(-n+2) .blog-item {
	    margin-bottom: 0;
	}

	.e-mail {
		margin-left: 16%;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	/* CUSTOM RESETS
	================================================== */

	/* Margin and Paddings Resets */
	.mt-x-0 {
	    margin-top: 0;
	}

	/* HEADER
	================================================== */
	.site-logo {
		padding-left: 15px;
	}

	.site-logo img {
		height: 35px;
	}

	
	/* HERO
	================================================== */


	.hero h1 {
		font-size: 32px;
		margin-bottom: 10px;
	}

	.job-title {
		font-size: 18px;
		margin-bottom: 20px;
	}


	/* SITEMAIN
	================================================== */
	.site-main {
		margin-bottom: 140px;
	}

	/* site-section */
	.site-section {
	   padding-top: 10px;
	}

	.img-lines {
	    margin: 10px 0 30px;
	}

	.site-section p {
	    margin-bottom: 25px;
	}

	.col-xs-3 {
		width: 100%;
	}
	/* Section: Services */
	.section-services {
		margin-top: 0;
	}

	.service h4 {
		margin: 10px 0;
	}

	.section-services .container {
		width: 90%;
		padding: 40px 20px;
	}

	.service-about {
		display: none;
	}

	/* FOOTER
	================================================== */
	.site-footer .col-xs-12 {
		text-align: center;
	}

	.e-mail {
		display: block;
		margin-top: 10px;
		margin-left: 0;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 479px) {
	.visible-xxs {
		display: block;
	}

	/* HERO
	================================================== */


	/* SITEMAIN
	================================================== */
	.site-main {
		margin-bottom: 180px;
	}

	/* Section: blog */
	.section-blog .col-xs-6 {
		width: 100%;
		padding: 0;
	}

	/* FOOTER
	================================================== */
	.site-footer .row {
		display:flex;
		flex-direction: column-reverse;	
	}

	.site-footer .text-right{
		text-align: center;
	}

	.site-footer .col-xs-6,
	.site-footer .col-xs-3 {
		width: 100%;
	}

	.site-footer .col-xs-offset-3 {
		margin-left: 0;
	}

	.text-right {
		margin-top: 20px;
	}
	
	

}